# [projectid]:
#  paths:
#    log: /var/log/gfd
#    errLog: /var/log/gfd
#    deploy: /var/www/deploy
#  scriptEnv:
#    multiStables: false
#    master: master
#    develop: dev
#    release: release
#    hotfixPrefix: hotfix-
#    developDir: alfa
#    masterDir: stable
#    releaseDir: beta
#    hotfixDir: hotfix
#    hooksDir: .hooks
#    remote: origin
