# [project] is a value of GET project param
# [project]:
#  logPath: log
#  errLogPath: log
#  hookDir: hooks
#  deployRoot: deploy
#  scriptEnv:
#    multiStables: false
#    master: master
#    develop: dev
#    release: release
#    hotfixPrefix: hotfix-
